<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>
<body>
    <header>
        <a href='/home' class="title"><h1>InstantGram</h1></a>
        <a href="/home/create"><img src="/images/upload.png"></a>
        <a href="/user/logout"><img src="/images/logout.png"></a>
        <a href="/user/<%= user._id %>"><img src="/images/user.png"></a>
    </header>
    <main>
    <% for (i = 0; i < photos.length; i++) { %>
        <div class="home-photo-container">
            <div class="home-photo-header">
                <h4><%=photos[i].user_username%></h4>
            </div>
             <a href="/home/<%=photos[i]._id%>"><div class='img' style='background-image: url("data:image/<%=photos[i].img.contentType%>;base64,<%=photos[i].img.data.toString('base64')%>")'></div></a>
            <p><%=photos[i].description%></p>
        </div>
    <% } %>
    </main>
</body>
</html>