<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>InstantGram</h1>
        Welcome back <%= username %>
        <a href="/home/create">Upload</a>
        <a href="/user/logout">LOGOUT</a>
    </header>
    <% for (i = 0; i < photos.length; i++) { %>
        <div class="home-photo">
            <img src="<%=photos[i].url%>">
            <h3><%=photos[i].user_username%></h3>
            <p><%=photos[i].description%></p>
            <input class="like" id="<%=photos[i]%>" type="button">
            <input class="dislike" id="<%=photos[i]._id%>" type="button">
        </div>
    <% } %>
</body>
</html>