<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Photo</title>
</head>
<body>
    <header>
        <div class='topbar'>
            <a href="/user/<%=user._id%>"><h1><%=user.username%></h1></a>
        </div>
    </header>
    <main>
        <div class="main">
            <img src="<%=photo.url%>">
        </div>
        <div class='below'>
            <p> <%= user.username%> - <%= photo.description %></p>
        </div>
    </main>
</body>
</html>