<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/show.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>View Photo</title>
</head>
<body>
    <%- include("../partials/header")%>
    <main>
        <div class="main">
            <% if (matched) { %>
                <form action="<%=photo._id%>/edit">
                    <input class="modify" type="submit" name="EDIT" value="EDIT">
                </form>
                <form action="/home/<%=photo._id%>?_method=DELETE" method='POST'>
                    <input class="modify" type="submit" name="delete" value="delete"></input>
                </form> 
            <% } %>
            <img src="data:image/<%=photo.img.contentType%>;base64,<%=photo.img.data.toString('base64')%>">
            <form action="/home/<%=photo._id%>" method="POST">
                <input class="vote" id="<%=photo._id%>" type="submit" name="Like" value="Like">
                <input class="vote" id="<%=photo._id%>" type="submit" name ="Dislike" value="Dislike" >
            </form>
            <h5><%=photo.createdAt.toDateString()%></h5>
        </div>
        <div class='below'>
            <p> <a href="/user/<%=user._id%>"><H3><%= user.username%></H3></a>  <%= photo.description %></p>
        </div>
    </main>
</body>
</html>